.cart-container {
  padding: 20px;
  max-width: 300px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .cart-item img {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }

  .cart-item-details {
    flex-grow: 1;
    padding-left: 20px;
  }

  .remove-from-cart-button {
    display: block;
    width: fit-content;
    margin: 10px auto;
    background-color: #ff4d4f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .remove-from-cart-button:hover {
    background-color: #ff7875;
  }

  .cart-summary {
    text-align: right;
    margin-top: 20px;
  }

  .quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }

  .quantity-controls button {
    margin: 0 5px;
  }

  .continue-shopping-button, .proceed-to-order-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    width: auto;
    margin: 10px 0;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  .proceed-to-order-button {
    background-color: #4CAF50;
    color: white;
    margin: 10px 0;
  }

  .proceed-to-order-button:hover {
    background-color: #45a049;
  }

  .continue-shopping-button {
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .continue-shopping-button:hover {
    background-color: #e7e7e7;
  }

  .continue-shopping {
    margin: 0;
    color: inherit;
    text-align: center;
  }

  .cart-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .cart-total {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
  }


  .cart-empty-container {
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: fit-content;
    margin: auto;
    display: inline-block;
  }

  .cart-empty-message {
    color: #333;
    font-size: 1rem;
    margin: 0;
    text-align: center;
  }

  .continue-shopping-button, .login-button{
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  .continue-shopping-button:hover, .login-button:hover {
    background: #004494;
  }