.product-image-container {
    position: relative;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    overflow: hidden;
  }

.product-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: opacity 0.5s ease;
    border-radius: 5px;
    z-index: 1;
}

.product-image-container img.hover-image {
    opacity: 0;
    border-radius: 5px;
    z-index: 2;
}

.product-image-container:hover img.hover-image {
    opacity: 1;
}

.product-image-container:hover img:not(.hover-image) {
    opacity: 0;
}