.home-container {
    text-align: center;
    padding: 50px;
}

.quote-container {
    position: relative;
    background-image: url('../../../public/assets/GzXlSFK.jpg');
    background-size: cover;
    background-position: center;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 20px;
    height: 500px;
}

.quote-container p {
    position: relative;
    color: white;
    font-size: 1.5em;
    z-index: 2;
}

.quote-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: inherit;
    z-index: 1;
}